//-script(src="bower_components/jquery/dist/jquery.js")
script(src="js/jquery.min.js")
//-script(src="bower_components/what-input/what-input.js")
script(src="js/what-input.min.js")
script(src="js/fine-uploader.min.js")
script(src="js/add-fields.min.js")
//-script(src="bower_components/foundation-sites/dist/foundation.js")
script(src="js/foundation.min.js")
script(src="js/app.min.js")
//-script(src="js/ga.js")
